<h1>Post Your Center</h1>

<%= form_with scope: :center, url: centers_path, local: true do |form| %>
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :Location %><br>
    <%= form.text_field :location %>
  </p>

  <p>
    <%= form.label :Description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

   <!-- Trigger/Open The Modal -->
<button id="jobsBtn" class="button">Jobs</button>

<!-- The Modal -->
<div id="jobsModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Jobs</p>
    <form method="POST" action="/create_job">
    <input type="text" name="[create]title" placeholder="Title">
    <br>
    <textarea class="POST1" type="text" name="[create]jobpost" placeholder="Post Content" maxlength="150"></textarea>
    <br>
    <input class="jobsubmit" type="submit" value="Submit">
    </form>

</div>

   <!-- Trigger/Open The Modal -->
<button id="shelterBtn" class="button">Shelter</button>

<!-- The Modal -->
<div id="shelterModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Shelter</p>
    <form method="POST" action="/create_shelter">
    <input type="text" name="[create]title" placeholder="Title">
    <br>
    <textarea class="POST1" type="text" name="[create]blogpost" placeholder="Post Content" maxlength="150"></textarea>
    <br>
    <input class="blogsubmit" type="submit" value="Submit">
    </form>

</div>

   <!-- Trigger/Open The Modal -->
<button id="suppliesBtn" class="button">Supplies</button>

<!-- The Modal -->
<div id="suppliesModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Supplies</p>
    <form method="POST" action="/create_supplies">
    <input type="text" name="[create]title" placeholder="Title">
    <br>
    <textarea class="POST1" type="text" name="[create]post" placeholder="Post Content" maxlength="150"></textarea>
    <br>
    <input class="blogsubmit" type="submit" value="Submit">
    </form>

</div>

   <!-- Trigger/Open The Modal -->
<button id="mealsBtn" class="button">Meals</button>

<!-- The Modal -->
<div id="mealsModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Meals</p>
    <form method="POST" action="/create_meals">
    <input type="text" name="[create]title" placeholder="Title">
    <br>
    <textarea class="POST1" type="text" name="[create]blogpost" placeholder="Post Content" maxlength="150"></textarea>
    <br>
    <input class="blogsubmit" type="submit" value="Submit">
    </form>

</div>
