<h1>Second Start</h1>
<div class="row" id="all_post">

    <div id="post_column" class="column jobs">

        <div id="post" class="jobscontainer">
            <div class="text">
            <h3 class="heading">Newest Job Post</h3>
                <p class="center_name">Posted by:
                    <%= @last_job.center.name %>
                </p>
             <div class="textarea">

                <p>
                    <strong><%= @last_job.title %></strong>
                </p>

                <p>
                    <%= @last_job.content %>
                </p>

                <p class="date">Posted on:
                    <%=@last_job.updated_at.strftime("%B %d, %Y") %>
                </p>
                <br>
                </div>
            </div>


 <div id="post" class= "sheltercontainer">
   <h3>New listings of Shelters</h3>
   <div id="last_shelter" style="background-color:lightblue ">
      <p>Posted by:
          <%= @last_shelter.center.name %>
      </p>

        </div>
    </div>

    <div id="post_column" class="column shelter">
       
        <div id="post" class="sheltercontainer">
            <div class="text">
            <h3 class="heading">Newest Shelter Listing</h3>
                <p class="center_name">Posted by:
                    <%= @last_shelter.center.name %>
                </p>

<div class="textarea">
    
                <p>
                    <strong><%= @last_shelter.title %></strong>
                </p>


                <p>
                    <%= @last_shelter.content %>
                </p>

                <p class="date">Posted on:
                    <%=@last_shelter.updated_at.strftime("%B %d, %Y") %>
                </p>
                <br>
</div>
            </div>
        </div>
    </div>

    <div id="post_column" class="column supplies">
       
        <div id="post" class="suppliescontainer">
            <div class="text">
            <h3 class="heading">Newest Supply Listing</h3>
                <p class="center_name">Posted by:
                    <%= @last_supplies.center.name %>
                </p>
<div class="textarea">
                <p>
                    <strong><%= @last_supplies.title %></strong>
                </p>

                <p>
                    <%= @last_supplies.content %>
                </p>

                <p class="date">Posted on:
                    <%=@last_supplies.updated_at.strftime("%B %d, %Y") %>
                </p>
                <br>
</div>
            </div>
        </div>
    </div>

    <div id="post_column" class="column food">
       
        <div id="post" class="foodcontainer">
            <div class="text">
            <h3 class="heading">Newest Meals Listing</h3>
                <p class="center_name">Posted by:
                    <%= @last_meal.center.name %>
                </p>
                
                <div class="textarea">

                <p>
                    <strong><%= @last_meal.title %></strong>
                </p>

                <p>
                    <%= @last_meal.content %>
                </p>

                <p class="date">Posted on:
                    <%=@last_meal.updated_at.strftime("%B %d, %Y") %>
                </p>
                <br>
                </div>
            </div>

        </div>
    </div>