<!DOCTYPE html>
<html>
  <head>
    <title>Secondstart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>

   <div class="container">
       <div class="nav_bar">
           <ul>
               <li>HOME</li>
               <li>JOBS</li>
               <li>SHELTERS</li>
               <li>SUPPLIES</li>
               <li>MEALS</li>
               <li>SIGN-UP</li>

           </ul>
       </div>
   </div>




   <%= yield %>




  </body>
</html>
