<!DOCTYPE html>
<html>

<head>
    <title>Secondstart</title>
    <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

            <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
                <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<body>

    <div class="nav_bar">

        <ul>
            <li><img id="logo" src="/assets/logo.png" /></li>
            <li class="active"><a href="/welcome">HOME</a></li>
            <li class="active"><a href="/centers">CENTERS</a></li>
            <li class="active"><a href="/jobs">JOBS</a></li>
            <li class="active"><a href="/shelters">SHELTERS</a></li>
            <li class="active"><a href="/supplies">SUPPLIES</a></li>
            <li class="active"><a href="/meals">MEALS</a></li>
            <% if current_user.nil? %>
            <li class="active"><a href="/signup_signin">SIGN-UP/LOG-IN</a></li>
            <% end %>
            <li class="active"><a href="/about">ABOUT</a></li>
            <li class="active"><a href="/contact">CONTACT</a></li>
            <% if !current_user.nil? %>
            <li><a href="/profile/<%= current_user.id %>" id="nav_button">MY PROFILE</a></li>
            <% end %>
        </ul>
    </div>

    <p id="img_cont2">

        <a target="_blank" href="http://www.fb.com"><img src="/assets/facebook.png" /></a>
        <a target="_blank" href="http://www.instagram.com"><img src="/assets/instagram.png" /></a>
        <a target="_blank" href="http://www.snapchat.com"><img src="/assets/snapchat.png" /></a>


    </p>

    <%= yield %>

</body>

</html>